[Unit]
Description=CertKeeper Agent
Documentation=https://github.com/claytonfuselier/certkeeper-agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ceagent run
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

# Security hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/etc/ceagent
PrivateTmp=true

[Install]
WantedBy=multi-user.target
